@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Noto+Sans:wght@500&display=swap');

* {
  font-family: 'Agbalumo';
}

::selection {
  background: orange;
  color: cyan;
}

.container {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  font-family: monospace;
  background-color: rgb(51, 121, 240);
  position: absolute;
  bottom: 91%;
  width: 100vw;
  height: 65px;
  z-index: 11;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(-70px);
  opacity: 0;
}

.nav-links:nth-child(2) {
  margin-right: 6%;
}

.nav-links {
  display: flex;
  gap: 6em;
  list-style: none;
  text-decoration: none;
}

.nav-links li {
  color: #3100ff00;
  text-shadow: 0 0 16px #000;
  cursor: pointer;
}

.woof {
  width: 610px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wooferzz {
  color: black;
  width: 600px;
}

.woofin {
  height: 250px;
  text-align: center;
  overflow: hidden;
}

.woofin h2 {
  color: white;
  padding-top: 10px;
  font-family: monospace;
  position: static;
  font-size: 3em;
  animation: opp 1.5s linear infinite;
}

@keyframes opp {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.woofin .wooferzz {
  transform: translateY(190px);
}

.fo2 {
  bottom: 70%;
  right: 87%;
  rotate: 30deg;
  filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.2));
}

.fo1 {
  bottom: 70%;
  left: 77%;
  rotate: 30deg;
  filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.2));
}

.fo1,
.fo2,
.fo3,
.fo4,
.fo5,
.fo6 {
  width: 0px;
  height: 0px;
  position: absolute;
  filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.2));
  animation: foodfloat 2s infinite alternate-reverse;
}

.fo3 {
  top: 80%;
  left: 84%;
  rotate: -20deg;
}

.fo4 {
  top: 70%;
  right: 84%;
  rotate: 10deg;
}

.fo5 {
  top: 50%;
  left: 20%;
  rotate: 70deg;
}

.fo6 {
  left: 70%;
  rotate: -9deg;
}

@keyframes foodfloat {
  from {
    transform: translateY(20px);
    transform: translateY(30deg, 30px);
  }

  to {}
}

.wologo {
  width: 62px;
  height: 62px;
  position: fixed;
  cursor: pointer;
  right: 94%;
}


/* MEDIA QUERIES STARTS FROM HERE */


@media only screen and (orientation:portrait) {

  .woofin {
    height: 130px;
  }

  .woofin[style] {
    transition: all 0.3s ease-out;
    height: 200px !important;
  }

  .wooferzz {
    width: 287px;
  }

  .fo1[style],
  .fo2[style],
  .fo3[style],
  .fo4[style],
  .fo5[style],
  .fo6[style] {
    transition: all 0.4s ease-out;
    width: 50px !important;
    height: 50px !important;
  }

  .fo1 {
    left: 70%;
  }

  .fo2 {
    right: 40%;
    bottom: 80%;
  }

  .fo3 {
    left: 70%;
    top: 75%;
  }

  .fo4 {
    right: 70%;
    top: 80%;
  }

  .fo5 {
    top: 25%;
  }

  .fo6 {
    left: 40%;
    top: 70%;
  }

  .wologo {
    right: 80%;
    width: 52px;
    height: 52px;
    top: 12%;
  }

  .navbar {
    justify-content: center;
  }

  .nav-links {
    gap: 10px;
    font-size: 10px;
  }

  .nav-links:nth-child(2) {
    margin-right: -30%;
  }

}